<!DOCTYPE html>
<html lang="en">
    <!-- head metadata -->
    {% include "partials/head.html" %}

    <!-- body content -->
    <body>
        <article>
            <!-- TODO: header nav -->
            <!-- {% include "partials/header_nav.html" %} -->

            <!-- page title -->
            {% block pageTitle %}
            {% endblock %}

            <!-- main content -->
            {{ content | safe }}

            <!-- horizontal line + footer -->
            <hr />
            {% include "partials/footer.html" %}
        </article>
    </body>
</html>